{% extends 'default.html' %}



{% block title %}

{% endblock title %}

{% block content %}
{% include 'includes/nav_bar.html' %}
<hr>
<hr>

<ul class="list-group list-group-flush">
{% if response_list %}
  {% for response in response_list %}
    <li class="list-group-item">
      <small class="fw-bold">{{response.timeCreation|date:'d M Y' }} </small>

      <small class="text-muted">(автор: {{response.sender}})</small><br>
      {% if response.response_status == True %}
      <small class="text-muted">(статус: Принято)</small><br>
      {% else %}
      <small class="text-muted">(статус:  Не Принято)</small><br>
      {% endif %}

      <small class="fw-bold">объявление: <a href="{% url 'response_advert_list' response.responseAdvert.id %}">{{ response.responseAdvert.title }}</a></small><br>

      <small class="text-muted">(автор объявления: {{response.responseAdvert.username}})</small><br>

      <a href={{ response.get_absolute_url }}><h5>{{response.text|truncatechars:25}}</h5></a>

  </li>
  {% endfor %}
</ul>
  {% else %}
  <h5>У вас нет ни одного отклика</h5>
  {% endif %}



{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}